dnx-packages/
bin/
obj/
project.lock.json
.vs/
node_modules/
bower_components/
.scripts/
.projects.json
.tools/
test/.results/
/dnx-packages
.vscode/
*.nupkg
_ReSharper.Caches/ReSharperPlatformVs16193_6aa3fe65.Holycode.Configuration.00/AspFileDataCache.dat
